# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 9.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 8.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 7.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 6.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 5.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 4.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 3.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 2.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 10.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/image 1.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/Database Schema/image.png
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes/Database Schema 33cb8d2bacca8035b90fdaefe5339858.md
ExportBlock-ac3fa029-7e88-41e1-bd98-887affae715d-Part-1/Notes 33cb8d2bacca8059a38cd74132c4c85e.md
